@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
:root{
  --Primary:#02abb2;
  --Bg:#e3ebf6;
  --light: #fff;
  --dark: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Michroma,sans-serif;
}
html{
  scroll-behavior: smooth;
}
.App{
  min-height: 100vh;
  min-width: 100vw;
}